# Tmp files
tmp/
conf/

# Used by dotenv library to load environment variables.
.env

# Make sure NO inventory file gets checked in EVER. It may contain secret keys etc !!
**/inventory/inventory*
**/inventory/**

# Ansible
**/*.retry

# Vagrant
.vagrant/

# MacOS
.DS_Store

# Other
stuff.md
