#
# WARNING: MAKE SURE THIS FILE GETS NEVER COMMITED TO ANY REPO !!!
#

all:
  hosts:
    localhost:
      ansible_connection: local
      ansible_python_interpreter: python
  children:
    okd_hosts:
      hosts:
        www.example.com:
          hostname: www
          public_dns_zone: example.com
          apps_prefix: apps
          default_passwd: openshift
          DD_API_KEY: xyz
  vars:
    # Key used for authentication
    ansible_ssh_private_key_file: ~/.ssh/your_private_key_rsa